<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>quartz.NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>Control.ControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>Control.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleEvento</servlet-name>
        <servlet-class>Control.ControleEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlePessoa</servlet-name>
        <servlet-class>Control.ControlePessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleInstituicao</servlet-name>
        <servlet-class>Control.ControleInstituicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAdmin</servlet-name>
        <servlet-class>Control.ControleAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleFeed</servlet-name>
        <servlet-class>Control.ControleFeed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEvento</servlet-name>
        <url-pattern>/ControleEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePessoa</servlet-name>
        <url-pattern>/ControlePessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleInstituicao</servlet-name>
        <url-pattern>/ControleInstituicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAdmin</servlet-name>
        <url-pattern>/ControleAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleFeed</servlet-name>
        <url-pattern>/ControleFeed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Declaração dos filtros-->
    <filter>
        <filter-name>AcessoAdministrativo</filter-name>
        <filter-class>AutorizacaoDeAcesso.AcessoAdministrativo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAdministrativo</filter-name>
        <url-pattern>/admin2/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AcessoLogado</filter-name>
        <filter-class>AutorizacaoDeAcesso.AcessoLogado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoLogado</filter-name>
        <url-pattern>/acessologado/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Instituicao</filter-name>
        <filter-class>AutorizacaoDeAcesso.Instituicao</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Instituicao</filter-name>
        <url-pattern>/instituicao/*</url-pattern>
    </filter-mapping>
</web-app>
