/Help_Here/nbproject/private/
/Help_Here/build/
/HelpHererJavaWeb/nbproject/private/
/HelpHererJavaWeb/build/
HelpHererJavaWeb/nbproject/project.properties
/HelpHererJavaWeb/dist/
/Help_HereV3/nbproject/private/
/Help_HereV3/build/
/Help_HereV3/dist/
Help_HereV3/web/CNPJsenha.jsp