#success_message {
    display: none;
}

.titulo{
    font-size: 30px;
    margin: 0 auto;
    position: relative;
    left: 50%;
}

#botao{
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
}