<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlCadastro</servlet-name>
        <servlet-class>Control.ControlCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoAdministrativo</servlet-name>
        <servlet-class>Control.AcessoAdministrativo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoLogado</servlet-name>
        <servlet-class>Control.AcessoLogado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlCadastro</servlet-name>
        <url-pattern>/ControlCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoAdministrativo</servlet-name>
        <url-pattern>/AcessoAdministrativo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoLogado</servlet-name>
        <url-pattern>/AcessoLogado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
